#header {
    background-color: aqua;
    text-align: center;
    padding: 3rem;
    align-content: center;
}

#park-areas h2{text-align: center;}
#park-areas h3{text-align: center;}

#main {
    background-color:lightgray;
}

#footer {
    background-color: lightcoral;
    padding: 3rem;
}

#guest-list {
   border: solid black 4px;
    padding: 1rem;
    margin: 5rem 1rem 1rem 1rem;
    text-align: center;
    float: right;
    width: 25%;
}

.guestName {
    line-height: 300%;
}

.park-card {
    background-color: white;
    width: 15rem;
    height: 20rem;
    margin: 1rem;
    padding: 1rem;
}
.park-card h2 {
    text-align: center;
}

.list-of-park-areas {
    background-color: blue;
    padding: 2rem;
    display: flex; 
    flex-flow: wrap;
}

#park-areas {
    background-color: brown;
}